<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="ESWinServiceSetup" Language="1033" Version="1.0.1.0" Manufacturer="Dzurik.com" UpgradeCode="adf1f840-a85c-41f0-a053-06534339eef9">
    <Package Id ="*" InstallerVersion="300" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
            Control="Finish"
            Event="DoAction"
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Elasticsearch Settings" />
    <Property Id="WixShellExecTarget" Value="$(var.SetElasticsearchSettings.TargetPath)" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <Feature Id="ProductFeature" Title="SetupInstall" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProgramMenuDir"/>
    </Feature>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ApplicationProgramsFolder" Name="ElasticsearchSettings">
          <Component Id="ProgramMenuDir" Guid="{08078283-D335-4A3E-9679-42CFDC5FAEFB}">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\ElasticsearchSettings"
                           Type="integer" Value="1" Name="installed" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ElasticsearchSettings" />
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Guid="{44B4093E-26CA-4367-B783-B453745FA597}">
        <File Id="EsSettings" Source="$(var.SetElasticsearchSettings.TargetPath)" KeyPath="yes" >
          <Shortcut Id="desktopShortcut" Advertise="yes" Directory="DesktopFolder"
                    Name="Elasticsearch Settings" WorkingDirectory="INSTALLFOLDER"
                    IconIndex="0">
          </Shortcut>
          <Shortcut Id="startMenuShotcut" Directory="ApplicationProgramsFolder"
                    Name="Elasticsearch Settings" WorkingDirectory="INSTALLFOLDER"
                    IconIndex="0" Advertise="yes">
          </Shortcut>
        </File>
      </Component>
      <Component Guid="{BCB62CBF-7E38-43F7-9A48-8C8238A3D361}">
        <File Source="$(var.YamlUtility.TargetPath)" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>